<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="goNature"
         name="Go"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.googlecode.goclipse.core.GoNature" />
      </runtime>
      <builder
            id="com.googlecode.goclipse.goBuilder">
      </builder>
   </extension>
	
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.googlecode.goclipse.core.expressions.isGoProject">
			 <adapt type="org.eclipse.core.resources.IProject">
				<test
					property="org.eclipse.core.resources.projectNature"
					value="com.googlecode.goclipse.core.goNature">
				</test>
			</adapt>
		</definition>
		
		<definition id="com.googlecode.goclipse.core.expressions.isResourceInIDEProject">
			<and>
				<instanceof value="org.eclipse.core.resources.IResource" />
				<test
					property="org.eclipse.core.resources.projectNature"
					value="com.googlecode.goclipse.core.goNature">
				</test>
			</and>
		</definition>
		
	</extension>
	
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type
         id="com.googlecode.goclipse.gosourcefile"
         name="Go source file"
         file-extensions="go"
         base-type="org.eclipse.core.runtime.text"
         default-charset="UTF-8">
      </content-type>
      
      <content-type
         id="com.googlecode.goclipse.goPackageFile"
         name="Go package object"
         file-extensions="a">
      </content-type>
      
      <content-type
         id="com.googlecode.goclipse.textContentType"
         name="Text file"
         base-type="org.eclipse.core.runtime.text"
         priority="low">
      </content-type>
      
      <!-- this interfers with CDT detection of header files -->
      <!-- file-association
            content-type="com.googlecode.goclipse.textContentType"
            file-extensions="c,h">
      </file-association -->
   </extension>
   
	
	<extension
		id="com.googlecode.goclipse.goBuilder"
		name="Go Project Builder"
		point="org.eclipse.core.resources.builders">
		<builder
			callOnEmptyDelta="true"	
			hasNature="true"
			isConfigurable="true">
		<run class="com.googlecode.goclipse.core.tools.GoBuilder">
		</run>
	</builder>
	</extension>

   
  
   <extension
         id="goProblem"
         name="Go Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.googlecode.goclipse.core.launch.GoLaunchConfigurationDelegate"
            delegateName="Goclipse Launcher"
            id="com.googlecode.goclipse.launch.goLaunchType"
            modes="run"
            name="Go Application">
      </launchConfigurationType>
   </extension>

   
   <extension-point
      id="com.googlecode.goclipse.contentassistprocessor"
      name="Content Assist Processor"
      schema="schema/com.googlecode.goclipse.contentassistprocessor.exsd"/>
   
   
</plugin>