<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="LANG_PROJECT_ID.ide.core.Nature"/>
      </runtime>
   </extension>
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="%contentType_FileExtensions_actual"
            id="LANG_PROJECT_ID.ide.core.content.source"
            name="%contentType_Name_actual"
            priority="high">
      </content-type>
   </extension>
   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="LANG_PROJECT_ID.ide.core.expressions.isLangProject">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="LANG_PROJECT_ID.ide.core.nature">
            </test>
         </adapt>
      </definition>
      <definition
            id="LANG_PROJECT_ID.ide.core.expressions.isLangNatureContainer">
         <adapt
               type="org.eclipse.core.resources.IContainer">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="LANG_PROJECT_ID.ide.core.nature">
            </test>
         </adapt>
      </definition>
      <definition
            id="LANG_PROJECT_ID.ide.core.expressions.isResourceInLangProject">
         <and>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="LANG_PROJECT_ID.ide.core.nature">
            </test>
         </and>
      </definition>
   </extension>
	
	
	
	<!-- ============ Launch configuration type ============= -->
	
	<extension
		 point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			 delegate="LANG_PROJECT_ID.ide.core.launch.LANGUAGE_LaunchConfigDelegate"
			 id="LANG_PROJECT_ID.ide.core.LaunchConfigurationType"
			 modes="run"
			name="%localApplication">
		</launchConfigurationType>
	</extension>
	
</plugin>
