<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/project-nature.png"
            id="MELNORME_ID.ide.ui.NatureImage"
            natureId="MELNORME_ID.ide.core.nature">
      </image>
	</extension>
   
   
	<extension point="org.eclipse.ui.preferencePages">
      <page
            class="MELNORME_ID.ide.ui.preferences.LANGUAGE_RootPreferencePage"
            id="MELNORME_ID.ide.ui.preferences.LANGUAGE_Root__PreferencePage"
            name="%LangRootPreferencePage.name"/>
      <page
             category="MELNORME_ID.ide.ui.preferences.LANGUAGE_Root__PreferencePage"
             class="MELNORME_ID.ide.ui.preferences.LANGUAGE_ToolsConsolePrefPage"
             id="MELNORME_ID.ide.ui.preferences.LANGUAGE_ToolsConsolePrefPage"
             name="%LangToolsConsolePage.name"/>
	</extension>
   
   
   
</plugin>
