<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image
			icon="icons/project-nature.ovr.png"
			id="LANG_PROJECT_ID.ide.ui.NatureImage"
			natureId="LANG_PROJECT_ID.ide.core.nature">
		</image>
	</extension>
	
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="LANG_PROJECT_ID.ide.ui.LANGUAGE_Perspective"
			icon="icons/views/Perspective.16.png"
			id="LANG_PROJECT_ID.ide.ui.Perspective"
			name="%LangPerspective.name">
		</perspective>
	</extension>
	
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="LANG_PROJECT_ID.ide.ui.Perspective">
			<showInPart id="org.eclipse.ui.navigator.ProjectExplorer" />
		</perspectiveExtension>
	</extension>
	
	<!-- ============ EDITOR ============= -->
		
	<extension
		 id="LANG_PROJECT_ID.DocumentSetupParticipant"
		 name="LANGUAGE Document Setup Participant"
		 point="org.eclipse.core.filebuffers.documentSetup">
		<participant
			class="LANG_PROJECT_ID.ide.ui.text.LANGUAGE_DocumentSetupParticipant"
			contentTypeId="LANG_PROJECT_ID.ide.core.content.source">
		</participant>
	</extension>
	
	
	<extension point="org.eclipse.ui.editors">
		<editor
		 class="LANG_PROJECT_ID.ide.ui.editor.LANGUAGE_Editor"
		 contributorClass="LANG_PROJECT_ID.ide.ui.editor.LANGUAGE_EditorActionContributor"
		 default="true"
		 icon="icons/obj/editor_file.png"
		 id="LANG_PROJECT_ID.ide.ui.editor.LANGUAGE_Editor"
		 name="%LangEditor.name">
			<contentTypeBinding contentTypeId="LANG_PROJECT_ID.ide.core.content.source" />
		</editor>
	</extension>
	
	<extension point="org.eclipse.ui.contexts">
		<context
			name="%LangEditContext.name"
			description="%LangEditContext.description"
			parentId="org.eclipse.ui.textEditorScope"
			id="LANG_PROJECT_ID.ide.ui.Contexts.Editor">
		</context>
	</extension>
	
	
	
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target 
			id="LANG_PROJECT_ID.ide.ui.Editor.HyperlinkCodeTarget"
			name="%hyperlinkDetector.target.name">
		<context type="org.eclipse.ui.texteditor.ITextEditor" />
		</target>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="LANG_PROJECT_ID.ide.ui.editor.LANGUAGE_HyperlinkDetector"
			id="LANG_PROJECT_ID.ide.ui.Editor.HyperlinkDetector"
			name="%hyperlinkDetector.name"
			targetId="LANG_PROJECT_ID.ide.ui.Editor.HyperlinkCodeTarget">
		</hyperlinkDetector>
	</extension>
	
	<!-- ============ Actions/Commands ============= -->
	
	<extension point="org.eclipse.ui.commands">
		<category
			name="%CommandsCategory.name"
			description="%CommandsCategory.description"
			id="LANG_PROJECT_ID.ide.ui.commands.Category">
		</category>
		
		<command
			categoryId="LANG_PROJECT_ID.ide.ui.commands.Category"
			defaultHandler="LANG_PROJECT_ID.ide.ui.actions.LANGUAGE_OpenDefinitionHandler"
			description="%OpenDefinitionAction.tooltip"
			id="LANG_PROJECT_ID.ide.ui.commands.openDefinition"
			name="%OpenDefinitionAction.name">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="LANG_PROJECT_ID.ide.ui.commands.openDefinition"
			contextId="LANG_PROJECT_ID.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="F3">
		</key>
	</extension>
	
	<!-- ============ Preference pages ============= -->
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_Root__PreferencePage"
			id=   "LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_Root__PreferencePage"
			name="%LangRootPreferencePage.name">
		</page>
		
		<page
			category="LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_Root__PreferencePage"
			class="LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_DaemonPreferencePage"
			id=   "LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_DaemonPreferencePage"
			name="%LangDaemonToolPrefPage.name">
		</page>
		<page
			category="LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_Root__PreferencePage"
			class="LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_ToolsConsolePrefPage"
			id=   "LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_ToolsConsolePrefPage"
			name="%LangToolsConsolePrefPage.name">
		</page>
		
		<page
			category="LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_Root__PreferencePage"
			class="LANG_PROJECT_ID.ide.ui.preferences.EditorPreferencePage"
			id=   "LANG_PROJECT_ID.ide.ui.preferences.EditorPreferencePage"
			name="%LangEditorPreferencePage.name">
		</page>
		<page
			category="LANG_PROJECT_ID.ide.ui.preferences.EditorPreferencePage"
			class="LANG_PROJECT_ID.ide.ui.preferences.LANGUAGE_EditorTypingPreferencePage"
			id=   "LANG_PROJECT_ID.ide.ui.preferences.EditorSmartTypingPreferencePage"
			name="%LangEditorTypingPreferencePage.name">
		</page>
		<page
			category="LANG_PROJECT_ID.ide.ui.preferences.EditorPreferencePage"
			class="LANG_PROJECT_ID.ide.ui.preferences.SourceColoringPreferencePage"
			id=   "LANG_PROJECT_ID.ide.ui.preferences.SourceColoringPreferencePage"
			name="%LangEditorSyntaxColoringPreferencePage.name">
		</page>
		
	</extension>
	
	
	<!-- ============ Wizards ============= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="LANG_PROJECT_ID.ide.ui.category"
			name="%LangWizardsCategory.name"/>
		<wizard
			category="LANG_PROJECT_ID.ide.ui.category"
			id="LANG_PROJECT_ID.ide.ui.wizards.NewProjectWizard"
			class="LANG_PROJECT_ID.ide.ui.wizards.LANGUAGE_ProjectWizard"
			icon="icons/actions/new_project_wizard.16.png"
			name="%NewProjectWizard.name"
			finalPerspective="LANG_PROJECT_ID.ide.ui.Perspective"
			preferredPerspectives="LANG_PROJECT_ID.ide.ui.Perspective"
			project="true">
		</wizard>
	</extension>
	
	
	<!-- ============ Launch ============= -->
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="LANG_PROJECT_ID.ide.core.LaunchConfigurationType"
			icon="icons/actions/application_launch.png"
			id="LANG_PROJECT_ID.ide.core.LaunchConfigurationType_Image">
		</launchConfigurationTypeImage>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="LANG_PROJECT_ID.ide.ui.launch.LANGUAGE_TabGroup"
			description="%LangTabGroup.description"
			id="LANG_PROJECT_ID.ide.ui.LANGUAGE_LaunchTabGroup"
			type="LANG_PROJECT_ID.ide.core.LaunchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	
</plugin>
