<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type id="com.googlecode.goclipse.gosourcefile"
       name="Go source file"
       file-extensions="go"
       base-type="org.eclipse.core.runtime.text"
       default-charset="UTF-8">
      </content-type>
   </extension> 
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.googlecode.goclipse.editors.GoEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="go"
            icon="icons/gopage.png"
            id="com.googlecode.goclipse.editors.Editor"
            name="Go Editor">
            <contentTypeBinding
         		contentTypeId="com.googlecode.goclipse.gosourcefile">
     		</contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="com.googlecode.goclipse.goBuilder"
         name="Go Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.googlecode.goclipse.builder.GoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="goNature"
         name="Go"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.googlecode.goclipse.builder.GoNature">
         </run>
      </runtime>
      <builder
            id="com.googlecode.goclipse.goBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/go-alt.png"
            id="com.googlecode.goclipse.goNature.image1"
            natureId="goclipse.goNature">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.googlecode.goclipse.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.googlecode.goclipse.builder.ToggleNatureAction"
               enablesFor="+"
               id="com.googlecode.goclipse.addRemoveNatureAction"
               label="Add/Remove Go Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         id="goProblem"
         name="Go Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.googlecode.goclipse.preferences.GoPreferencePage"
            id="com.googlecode.goclipse.preferences.GoPreferencePage"
            name="Go">
      </page>
      <page
            category="com.googlecode.goclipse.preferences.GoPreferencePage"
            class="com.googlecode.goclipse.preferences.EditorPreferencePage"
            id="goclipse.editor.config"
            name="Editor">
      </page>
   </extension>
   <extension
         id="preferences"
         name="preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.googlecode.goclipse.preferences.PreferenceInitializer">
      </initializer>
      <scope
            class="org.eclipse.core.internal.resources.ProjectPreferences"
            name="project">
      </scope>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.googlecode.goclipse.perspectives.GoPerspective"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.perspectives.GoPerspective"
            name="Go">
      </perspective>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
         <factory class="com.googlecode.goclipse.ui.navigator.GoModelAdapter" adaptableType="com.googlecode.goclipse.ui.navigator.IGoElement">
            
            <adapter type="org.eclipse.ui.IPersistableElement"/>
            <adapter type="org.eclipse.ui.IContributorResourceAdapter"/>
            <adapter type="org.eclipse.ui.ide.IContributorResourceAdapter2"/>
            <adapter type="org.eclipse.ui.IContainmentAdapter"/>
                        
            <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>

            <adapter type="org.eclipse.core.resources.IResource"/>
            
			<adapter type="org.eclipse.core.resources.IFolder"/>
			<adapter type="org.eclipse.core.resources.IProject"/>
			<adapter type="org.eclipse.core.resources.IContainer"/>
			<adapter type="org.eclipse.core.resources.IFile"/>
			<adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
			<adapter type="org.eclipse.ui.IContributorResourceAdapter"/>
         </factory>
         <factory
               adaptableType="org.eclipse.core.resources.IResource"
               class="com.googlecode.goclipse.ui.navigator.GoModelResourceAdapter">
            <adapter
                  type="com.googlecode.goclipse.ui.navigator.GoPackage">
            </adapter>
         </factory>
    </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="goclipse.goContent">
            </contentExtension>
            <contentExtension
                  pattern="goclipse.filters.HideBinFolder">
            </contentExtension>
            <contentExtension
                  pattern="goclipse.filters.HideSrcFolder">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.googlecode.goclipse.ui.navigator.GoNavigatorContentProvider"
            id="goclipse.goContent"
            labelProvider="com.googlecode.goclipse.ui.navigator.GoNavigatorLabelProvider"
            name="Go Elements"
            priority="high"
            icon="icons/go-icon16.png">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="goclipse.goNature">
                  </test>
               </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
         		<or>
					<instanceof	value="org.eclipse.core.resources.IResource" />
                    <instanceof value="org.eclipse.core.resources.IFolder"/>
                    <instanceof value="com.googlecode.goclipse.ui.navigator.IGoElement"/>
				</or>
		 </possibleChildren>
         <commonSorter
               class="com.googlecode.goclipse.ui.navigator.GoElementsSorter">
         </commonSorter>
         <commonWizard
               type="new"
               menuGroupId="com.googlecode.goclipse"
               wizardId="com.googlecode.goclipse.wizards.NewGoFileWizard">
            <enablement>
            </enablement>
         </commonWizard>
         <commonWizard
               type="new"
               menuGroupId="com.googlecode.goclipse"
               wizardId="com.googlecode.goclipse.wizards.project.mainwiz">
            <enablement>
            </enablement>
         </commonWizard>
         <actionProvider
               class="com.googlecode.goclipse.ui.navigator.GoNavigatorActionProvider">
         </actionProvider>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.googlecode.goclipse.ui.navigator.HideBinFolderFilter"
            id="goclipse.filters.HideBinFolder"
            name="Hide Go bin Folder">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="com.googlecode.goclipse.ui.navigator.HideSrcFolderFilter"
            id="goclipse.filters.HideSrcFolder"
            name="Hide Go src Folder">
      </commonFilter>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
         class="com.googlecode.goclipse.ui.navigator.GoLightweightDecorator"
         id="com.googlecode.goclipse.ui.navigator.lightweightDecorator"
         label="Go"
         lightweight="true"
         location="TOP_LEFT"
         state="true">
         
         <enablement>
            <or>
               <objectClass
                  name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                  name="com.googlecode.goclipse.ui.navigator.IGoSourceContainer">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.googlecode.goclipse.wizards.projects"
            name="Go">
      </category>
      
      <wizard
            canFinishEarly="false"
            category="com.googlecode.goclipse.wizards.projects"
            class="com.googlecode.goclipse.wizards.GoProjectWizard"
            finalPerspective="com.googlecode.goclipse.perspectives.GoPerspective"
            icon="icons/newprj_obj.png"
            id="com.googlecode.goclipse.wizards.project.mainwiz"
            name="Go Project"
            project="true">
            <description>
               Create a new Go language project
            </description>
      </wizard>
      
      <wizard
            canFinishEarly="false"
            category="com.googlecode.goclipse.wizards.projects"
            class="com.googlecode.goclipse.wizards.GoReferenceProjectWizard"
            finalPerspective="com.googlecode.goclipse.perspectives.GoPerspective"
            icon="icons/newprj_obj.png"
            id="com.googlecode.goclipse.wizards.referenceProjectWizard"
            name="Go Reference Project"
            project="true">
            <description>
               Create a new project containing a link to GOROOT/src; this is useful for browsing the source for the Go libraries
            </description>
      </wizard>
      
      <wizard
            category="com.googlecode.goclipse.wizards.projects"
            class="com.googlecode.goclipse.wizards.NewGoFileWizard"
            finalPerspective="com.googlecode.goclipse.perspectives.GoPerspective"
            icon="icons/gopage.png"
            id="com.googlecode.goclipse.wizards.NewGoFileWizard"
            name="Source File"
            project="false">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.googlecode.goclipse.properties.ProjectBuildConfiguration"
            id="com.googlecode.goclipse.properties.ProjectBuildConfiguration"
            name="Go Build Path">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
            
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/go.png"
            id="goclipse.launchGroup1"
            image="icons/go-icon16.png"
            label="label"
            mode="run"
            public="true"
            title="Launch Go Application">
      </launchGroup>
      <launchGroup
            bannerImage="icons/go.png"
            id="goclipse.launchGroup2"
            image="icons/go-icon16.png"
            label="label"
            mode="debug"
            public="true"
            title="Debug Go Application">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.googlecode.goclipse.debug.ui.LaunchConfigurationTabGroup"
            id="com.googlecode.goclipse.debug.ui.LaunchConfigurationTabGroup"
            type="com.googlecode.goclipse.debug.LaunchConfigurationDelegate">
         <launchMode
               mode="run"
               perspective="com.googlecode.goclipse.perspectives.GoPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.googlecode.goclipse.debug.ui.LaunchShortcut"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.debug.ui.LaunchShortcut"
            label="Run Go Application"
            modes="run, debug">
            <description
               description="executes Go Program"
               mode="run">
         	</description>
	         <contextualLaunch>
	           <enablement>
	             <with variable="selection">
	               <count value="1"/>
	               <iterate>
	                 <or>
	                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.go"/>
	                 </or>
	               </iterate>
	             </with>
	           </enablement>
	  		 </contextualLaunch>
	  		 <configurationType id ="com.googlecode.goclipse.debug.LaunchConfigurationDelegate">
	  		 </configurationType>
  		 
      </shortcut>
   </extension>
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="com.googlecode.goclipse.hiddenActionSet"
		   label="Goclipse hidden actions"
		   visible="true">
		   <action id="com.googlecode.goclipse.matchingbracket"
		   	   label="Go to Matching Bracket"
			   class="com.googlecode.goclipse.editors.PairMatcher"
			   definitionId="com.googlecode.goclipse.editors.PairMatcherShortcut.run">
		   </action>
	   </actionSet>
   </extension>
   <extension point="org.eclipse.ui.commands">
   	  <category
            name="Navigation"
            description="Goclipse Navigation"
            id="com.googlecode.goclipse.editor.navigation">
      </category>
   	  <category
            name="Source"
            description="Goclipse Source"
            id="com.googlecode.goclipse.editor.source">
      </category>
      <category
            name="Launch"
            description="Goclipse Editor"
            id="org.eclipse.debug.ui.category.run">
      </category>
      <command
            name="Launch Go Application"
            description="Launch Go Application"
            categoryId="org.eclipse.debug.ui.category.run"
            id="com.googlecode.goclipse.debug.ui.LaunchShortcut.run">
      </command>
      <command
            name="Go to Matching Bracket"
            description="Go to Matching Bracket"
            categoryId="com.googlecode.goclipse.editor.navigation"
            id="com.googlecode.goclipse.editors.PairMatcherShortcut.run">
      </command>
      <command
            name="gofmt"
            description="Apply gofmt to contents of current editor"
            categoryId="com.googlecode.goclipse.editor.source"
            id="com.googlecode.goclipse.editors.GofmtShortcut.run">
      </command>
      <command
            name="Gofix"
            description="Run the gofix command"
            categoryId="com.googlecode.goclipse.editor.source"
            id="com.googlecode.goclipse.editors.GofixShortcut.run">
      </command>
      <command
            name="toggle comment"
            description="comment/uncomment current selection"
            categoryId="com.googlecode.goclipse.editor.source"
            id="com.googlecode.goclipse.editors.ToggleComment.run">
      </command>
   </extension>
   <extension point="org.eclipse.ui.contexts">
          <context name="Editing Go Source"
           description="Editing Go Source"
           parentId="org.eclipse.ui.textEditorScope"
           id="com.googlecode.goclipse.editor" />
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            commandId="com.googlecode.goclipse.debug.ui.LaunchShortcut.run"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+M3+G"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.googlecode.goclipse.editors.PairMatcherShortcut.run"
            contextId="com.googlecode.goclipse.editor"
            sequence="M1+M2+P"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.googlecode.goclipse.editors.GofmtShortcut.run"
            contextId="com.googlecode.goclipse.editor"
            sequence="M1+M2+F"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+/"
			commandId="com.googlecode.goclipse.editors.ToggleComment.run"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="com.googlecode.goclipse.editor">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.googlecode.goclipse.debug.LaunchConfigurationDelegate"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.debug.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension-point id="com.googlecode.goclipse.contentassistprocessor" name="Content Assist Processor" schema="schema/com.googlecode.goclipse.contentassistprocessor.exsd"/>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.googlecode.goclipse.editorContribution"
            targetID="com.googlecode.goclipse.editors.Editor">
         <action
               class="com.googlecode.goclipse.editors.GofmtActionDelegate"
               definitionId="com.googlecode.goclipse.editors.GofmtShortcut.run"
               id="com.googlecode.goclipse.gofmt"
               label="&amp;Format (gofmt)"
               menubarPath="com.googlecode.goclipse.editor.sourceMenu/format">
         </action>
       
         <action
               class="com.googlecode.goclipse.editors.GofixAction"
               definitionId="com.googlecode.goclipse.editors.GofixShortcut.run"
               id="com.googlecode.goclipse.gofix"
               label="Gofix"
               menubarPath="com.googlecode.goclipse.editor.sourceMenu/additions">
         </action>
         
         <action
               class="com.googlecode.goclipse.editors.ToggleCommentActionDelegate"
               definitionId="com.googlecode.goclipse.editors.ToggleComment.run"
               id="com.googlecode.goclipse.togglecomment"
               label="Toggle Comment"
               menubarPath="com.googlecode.goclipse.editor.sourceMenu/format">
         </action>
       
         <menu
               id="com.googlecode.goclipse.editor.sourceMenu"
               label="&amp;Source"
               path="edit">
            <separator name="format"/>
            <separator name="additions"/>
         </menu>
      </editorContribution>
   </extension>
   
   <!-- hyperlink detection -->

   <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
         id="goclipse.hyperlinkDetectorTarget"
      	 name="GoEditorHyperlinkDetectorTarget">

         <context type="org.eclipse.ui.texteditor.ITextEditor"/>
      </target>
   </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="com.googlecode.goclipse.editors.GoHyperlinkDetector"
            id="com.googlecode.goclipse.editors.GoHyperlinkDetector"
            name="GoEditorHyperlinkDetector"
            targetId="goclipse.hyperlinkDetectorTarget">
      </hyperlinkDetector>
   </extension>
   
   <!-- This is possibly not needed (and has a dependency on the JDT), but is nice to have -->
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
          id="goclipse.objFolderFilter"
          name="Go object folders"
          description="Hide Go object (_obj) folders"
          targetId="org.eclipse.jdt.ui.PackageExplorer"
          pattern="_obj"/>
   </extension>
   
</plugin>
