<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.googlecode.goclipse.contentassistprocessor">
      <content_assist_processor
            class="com.googlecode.goclipse.gocode.GocodeContentAssistProcessor">
      </content_assist_processor>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.googlecode.goclipse.gocode.preferences.GocodePreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.googlecode.goclipse.ui.PreferencePage"
            class="com.googlecode.goclipse.gocode.preferences.GocodePreferencePage"
            id="com.googlecode.goclipse.gocode.page"
            name="Gocode">
      </page>
   </extension>

</plugin>
