<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- launch config -->
	<extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="melnorme.lang.ide.debug.core.LangSourceLookupDirector"
            id="com.googlecode.goclipse.debug.sourceLocator"
            name="Go Source Locator">
      </sourceLocator>
	</extension>
	
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.googlecode.goclipse.debug.core.GoDebugLaunchConfigurationDelegate"
            id="com.googlecode.goclipse.debug.launchDelegate"
            modes="debug"
            sourceLocatorId="com.googlecode.goclipse.debug.sourceLocator"
            type="com.googlecode.goclipse.launch.goLaunchType">
      </launchDelegate>
   </extension>
   
   
   <!-- launch/debug UI -->
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.googlecode.goclipse.debug.ui.GoDebugTabGroup"
            description="Debug a Go application"
            id="com.googlecode.goclipse.debug.launchConfigurationTabGroup_debug"
            type="com.googlecode.goclipse.launch.goLaunchType">
         <launchMode
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
      <toggleTargetFactory
            class="melnorme.lang.ide.debug.ui.LangToggleBreakpointsTargetFactory"
            id="com.googlecode.goclipse.debug.toggleTargetFactory">
         <enablement>
            <instanceof 
            	value="com.googlecode.goclipse.editors.GoEditor">
            </instanceof>
         </enablement>
      </toggleTargetFactory>
   </extension>

   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="com.googlecode.goclipse.editors.Editor"
            id="com.googlecode.goclipse.debug.breakpointActions">
         <action
               label="Toggle Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="com.googlecode.goclipse.debug.breakpointActions.toggle">
         </action>
      </editorContribution>
   </extension>

   <extension
		point="org.eclipse.ui.menus">
	    <menuContribution
	          locationURI="popup:#GoEditorRulerContext?after=debug">
			<menu 
		         id="breakpointTypes.go" 
		    	 label="%BreakpointTypes.label">
		       <dynamic
		             class="org.eclipse.debug.ui.actions.BreakpointTypesContribution"
		             id="org.eclipse.debug.ui.actions.BreakpointTypesContribution">
		       </dynamic>
			</menu>
		</menuContribution>
	</extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#GoEditorRulerContext"
            id="com.googlecode.goclipse.debug.GoEditorRulerDebugPopupActions">
         <action
               label="%RulerBreakpointProperties.label"
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.breakpoints.CBreakpointPropertiesRulerActionDelegate"
               menubarPath="debug"
               id="com.googlecode.goclipse.debug.ui.actions.menuEnableDisable">
         </action>
         <action
               label="%AddBreakpointInteractive.label"
               helpContextId="add_breakpoint_interactive_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.breakpoints.CAddBreakpointInteractiveRulerActionDelegate"
               menubarPath="debug"
               id="com.googlecode.goclipse.debug.ui.actions.RulerCreateBreakpointInteractiveAction">
         </action>         
         <action
               label="%EnableBreakpoint.label"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="com.googlecode.goclipse.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               label="%AddBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
               menubarPath="debug"
               id="com.googlecode.goclipse.debug.ui.actions.RulerToggleBreakpointAction">
         </action>
      </viewerContribution>
   </extension>
   
   <!-- Add Watch, Run to, Resume, Move to, etc. -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#GoEditorContext"
            id="com.googlecode.goclipse.debug.ui.actions.GoEditorDebugPopupActions">
         <visibility>
            <and>
               <systemProperty
                     value="true"
                     name="org.eclipse.cdt.debug.ui.debuggerActive"/>
               <objectClass name="org.eclipse.jface.text.ITextSelection"/>
            </and>
         </visibility>
         <action
               label="%AddExpressionAction.label "
               icon="icons/etool16/watch_exp.gif"
               helpContextId="add_expression_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionEditorActionDelegate"
               menubarPath="additions"
               id="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionActionDelegate">
         </action>
         <action
               label="%ResumeAtLineAction.label"
               icon="icons/elcl16/resume_at_line_co.gif"
               helpContextId="resume_at_line_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ResumeAtLineActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.ResumeAtLineActionDelegate">
         </action>
         <action
               label="%MoveToLineAction.label"
               icon="icons/elcl16/move_to_line_co.gif"
               helpContextId="move_to_line_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.MoveToLineActionDelegate"
               menubarPath="additions"
               enablesFor="1" 
               id="org.eclipse.cdt.debug.internal.ui.actions.MoveToLineActionDelegate">
         </action>
         <action
               helpContextId="run_to_line_action_context"
               label="%RunToLineAction.label"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               menubarPath="additions"
               id="org.eclipse.cdt.debug.ui.actions.popup.RunToLine">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.cdt.debug.internal.ui.actions.RetargettableActionAdapterFactory"
            adaptableType="com.googlecode.goclipse.editors.GoEditor">
         <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
         <adapter type="org.eclipse.cdt.debug.internal.ui.actions.IResumeAtLineTarget"/>
         <adapter type="org.eclipse.cdt.debug.internal.ui.actions.IMoveToLineTarget"/>
      </factory>
   </extension>

   
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type
         id="com.googlecode.goclipse.debug.debugTextContentType"
         name="Go debug files"
         base-type="org.eclipse.core.runtime.text"
         priority="low"
         default-charset="UTF-8">
      </content-type>
      
      <file-association
            content-type="com.googlecode.goclipse.debug.debugTextContentType"
            file-extensions="goc,s">
      </file-association>
   </extension>
   
</plugin>
