<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- launch config -->
	<extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="melnorme.lang.ide.debug.core.LangSourceLookupDirector"
            id="com.googlecode.goclipse.debug.sourceLocator"
            name="Go Source Locator">
      </sourceLocator>
	</extension>
	
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.googlecode.goclipse.debug.core.GoDebugLaunchConfigurationDelegate"
            id="com.googlecode.goclipse.debug.launchDelegate"
            modes="debug"
            sourceLocatorId="com.googlecode.goclipse.debug.sourceLocator"
            type="com.googlecode.goclipse.launch.goLaunchType">
      </launchDelegate>
   </extension>
   
   <!-- launch config UI TODO -->

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.googlecode.goclipse.launch.goLaunchType"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.debug.launch.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.googlecode.goclipse.debug.launch.ui.GoLaunchConfigurationTabGroup"
            id="com.googlecode.goclipse.debug.launch.launchConfigurationTabGroup"
            type="com.googlecode.goclipse.launch.goLaunchType"
            description="Run a Go application">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type
         id="com.googlecode.goclipse.debug.debugTextContentType"
         name="Go debug files"
         base-type="org.eclipse.core.runtime.text"
         priority="low"
         default-charset="UTF-8">
      </content-type>
      
      <file-association
            content-type="com.googlecode.goclipse.debug.debugTextContentType"
            file-extensions="goc,s">
      </file-association>
   </extension>
   


   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.googlecode.goclipse.editors.GoEditor"
            class="com.googlecode.goclipse.debug.breakpoints.GoBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>

   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="com.googlecode.goclipse.editors.Editor"
            id="com.googlecode.goclipse.debug.breakpointActions">
         <action
               label="Toggle Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="com.googlecode.goclipse.debug.breakpointActions.toggle">
         </action>
      </editorContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#GoEditorRulerContext"
            id="com.googlecode.goclipse.debug.CompilationUnitRulerPopupActions">
         <action
               label="Enable Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="com.googlecode.goclipse.debug.breakpointActions.menuEnableDisable">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               icon="icons/obj16/brkp_obj.gif"
               id="com.googlecode.goclipse.debug.breakpointActions.menuToggle"
               label="Toggle Breakpoint"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>

   <!-- TODO: uncomment -->
   <!-- extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.googlecode.goclipse.debug.ui.LaunchShortcut"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.debug.ui.LaunchShortcut"
            label="Go Application"
            modes="run, debug">
            
            <description
               description="executes Go Program"
               mode="run">
         	</description>
	        
	        <contextualLaunch>
	           <enablement>
	             <with variable="selection">
	               <count value="1"/>
	               <iterate>
	                 <or>
	                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.go"/>
	                 </or>
	               </iterate>
	             </with>
	           </enablement>
	  		</contextualLaunch>
	  		<configurationType id ="com.googlecode.goclipse.debug.launchConfig">
	  		</configurationType>
      </shortcut>
   </extension -->
   
   <!-- debug preference page -->
   
   
   <!-- source lookup -->
   
   
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.googlecode.goclipse.debug.launch.ui.GoLaunchShortcut"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.debug.launch.ui.GoLaunchShortcut"
            label="Run Go Application"
            modes="run, debug">
            <description
               description="executes Go Program"
               mode="run">
         	</description>
	         <contextualLaunch>
	           <enablement>
	             <with variable="selection">
	               <count value="1"/>
	               <iterate>
	                 <or>
	                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.go"/>
	                 </or>
	               </iterate>
	             </with>
	           </enablement>
	  		 </contextualLaunch>
	  		 <configurationType id="com.googlecode.goclipse.launch.goLaunchType">
	  		 </configurationType>  		 
      </shortcut>
   </extension>
   
</plugin>
