<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.googlecode.goclipse.launch.goLaunchType"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.debug.launch.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.googlecode.goclipse.ui.launch.GoLaunchTabGroup"
            id="com.googlecode.goclipse.debug.launchConfigurationTabGroup"
            type="com.googlecode.goclipse.launch.goLaunchType"
            description="Run a Go application">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.googlecode.goclipse.ui.launch.GoLaunchShortcut"
            icon="icons/go-icon16.png"
            id="com.googlecode.goclipse.debug.launch.ui.GoLaunchShortcut"
            label="Run Go Application"
            modes="run, debug">
            <description
               description="executes Go Program"
               mode="run">
         	</description>
	         <contextualLaunch>
	           <enablement>
	             <with variable="selection">
	               <count value="1"/>
	               <iterate>
	                 <or>
	                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.go"/>
	                 </or>
	               </iterate>
	             </with>
	           </enablement>
	  		 </contextualLaunch>
	  		 <configurationType id="com.googlecode.goclipse.launch.goLaunchType">
	  		 </configurationType>  		 
      </shortcut>
   </extension>


</plugin>
